.icon {
    position: absolute;
    top: -153px;
    left: -124px;
    width: 2101px;
    height: 1372px;
    object-fit: cover;
    display: none;
    mix-blend-mode: multiply;
}
.homePageChild {
    position: absolute;
    top: -1001px;
    left: -663px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #005a81, rgba(30, 30, 30, 0));
    width: 1866px;
    height: 1866px;
}
.homePageItem {
    position: absolute;
    top: 478px;
    left: 563px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #005a81, rgba(30, 30, 30, 0));
    width: 1866px;
    height: 1866px;
}
.homePageInner {
    position: absolute;
    top: 0px;
    left: -54px;
    backdrop-filter: blur(36.6px);
    background-color: rgba(0, 0, 0, 0.01);
    width: 1934px;
    height: 1179px;
}
.rectangleDiv {
    position: absolute;
    top: 73px;
    left: 522px;
    box-shadow: 0px 67px 67.4px -34px rgba(0, 0, 0, 0.35) inset;
    border-radius: 348px;
    background-color: #1e1e1e;
    width: 684px;
    height: 2004px;
    display: none;
}
.groupChild {
    position: absolute;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(16.8px);
    border-radius: 16px;
    background-color: rgba(0, 90, 129, 0.2);
    width: 439px;
    height: 86px;
}
.campaignIcon {
    width: 32px;
    position: relative;
    height: 32px;
}
.campaignWrapper {
    border-radius: 8px;
    background-color: #005a81;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
}
.announcement {
    position: relative;
    line-height: 140%;
    font-weight: 600;
}
.syllabusForInternal {
    width: 257px;
    position: relative;
    font-size: 14px;
    line-height: 140%;
    color: #ccc;
    display: -webkit-inline-box;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.announcementParent {
    height: 62px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frameGroup {
    width: 346px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.wed {
    position: relative;
    line-height: 140%;
}
.wedWrapper {
    width: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #ccc;
}
.frameParent {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 34px;
}
.rectangleParent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 439px;
    height: 86px;
}
.groupDiv {
    position: absolute;
    top: 24px;
    left: 1265px;
    filter: drop-shadow(1px 7px 30.4px rgba(0, 90, 129, 0.15));
    width: 439px;
    height: 86px;
    font-size: 16px;
}
.frameChild {
    width: 64px;
    position: relative;
    border-radius: 50%;
    height: 64px;
    object-fit: cover;
}
.rotterMuller {
    width: 229px;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 120%;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.professorBwt {
    width: 229px;
    position: relative;
    font-size: 16px;
    line-height: 140%;
    font-weight: 600;
    color: #ccc;
    display: flex;
    align-items: center;
}
.rotterMullerParent {
    width: 116px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.ellipseParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.moreVertIcon {
    width: 24px;
    position: relative;
    height: 24px;
}
.frameDiv {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 170px;
}
.tartILove {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    line-height: 140%;
    color: #ccc;
}
.frameContainer {
    position: absolute;
    top: 126px;
    left: 1265px;
    box-shadow: 1px 7px 30.4px rgba(0, 90, 129, 0.15);
    border-radius: 16px;
    background-color: rgba(0, 90, 129, 0.2);
    width: 439px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px;
    box-sizing: border-box;
    gap: 17px;
}
.search {
    position: relative;
}
.filterAltIcon {
    width: 26px;
    position: relative;
    height: 26px;
}
.filterAltParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.searchParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 274px;
}
.frameWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 14px 14px 0px 0px;
    background-color: rgba(0, 90, 129, 0.2);
    width: 439px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 11px 19px;
    box-sizing: border-box;
    mix-blend-mode: normal;
    font-size: 18px;
    color: #ccc;
    font-family: 'DM Sans';
}
.groupItem {
    position: absolute;
    top: 48px;
    left: 0px;
    border-radius: 0px 0px 14px 14px;
    background-color: rgba(0, 90, 129, 0.2);
    width: 439px;
    height: 780px;
}
.frameItem {
    width: 48px;
    position: relative;
    border-radius: 50%;
    height: 48px;
    object-fit: cover;
}
.analyst {
    position: relative;
    font-size: 14px;
    line-height: 140%;
    color: #ccc;
}
.nehaPathakParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.ellipseGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.mernStack {
    position: relative;
    font-size: 14px;
    line-height: 140%;
    text-align: right;
}
.gatewayDigitalParent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: #ccc;
}
.frameParent3 {
    width: 401px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 137px;
}
.instanceWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frameParent2 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 565.6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.frameWrapper1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 401px;
    height: 565.6px;
}
.groupWrapper {
    position: absolute;
    top: 64.19px;
    left: 19px;
    width: 401px;
    height: 565.6px;
}
.groupInner {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 14px;
    background-color: #133544;
    width: 426px;
    height: 63px;
}
.instanceWrapper10 {
    position: absolute;
    top: 8px;
    left: 12px;
    background-color: #133544;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.rectangleGroup {
    position: absolute;
    top: 247px;
    left: 7px;
    width: 426px;
    height: 63px;
}
.frameParent1 {
    position: absolute;
    top: 315px;
    left: 1265px;
    box-shadow: 1px 7px 30.4px rgba(0, 90, 129, 0.2);
    width: 439px;
    height: 828px;
    font-size: 16px;
}
.homePageChild1 {
    position: absolute;
    top: 24px;
    left: 24px;
    box-shadow: 1px 7px 30.4px rgba(0, 90, 129, 0.15);
    border-radius: 16px;
    background-color: rgba(0, 90, 129, 0.2);
    width: 1225px;
    height: 1069px;
}
.heyRotter {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 120%;
}
.letsMakeA {
    align-self: stretch;
    position: relative;
    font-size: 20px;
    line-height: 120%;
    color: #ccc;
}
.heyRotterParent {
    position: absolute;
    top: 48px;
    left: 48px;
    width: 408px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    font-size: 48px;
}
.avatar {
    width: 40px;
    border-radius: 500px;
    height: 40px;
    display: none;
}
.title {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 120%;
    font-weight: 600;
}
.subtitle {
    width: 600px;
    position: relative;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Public Sans';
    color: #637381;
    display: none;
    height: 22px;
    flex-shrink: 0;
}
.text {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.showAll {
    position: relative;
    font-size: 14px;
    text-decoration: underline;
    line-height: 140%;
    color: #ccc;
    text-align: right;
}
.textParent {
    width: 296px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.stack {
    width: 296px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.cardheader {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px 16px 24px 24px;
}
.text1 {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    line-height: 140%;
}
.item {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.stack1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 24px 24px;
    gap: 16px;
    font-size: 14px;
    color: #ccc;
}
.userprofileaboutcard {
    position: absolute;
    top: 158px;
    left: 48px;
    border-radius: 16px;
    background-color: rgba(0, 90, 129, 0.2);
    width: 344px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.textGroup {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.stack2 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.cardheader1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px 16px 24px 24px;
    font-size: 24px;
    color: #fff;
    font-family: Inter;
}
.cloudNativeMernStack {
    margin: 0;
    font-size: 16px;
    line-height: 140%;
    font-weight: 600;
    color: #ccc;
}
.blankLine {
    margin: 0;
}
.developedAFullStack {
    line-height: 140%;
    color: #ccc;
}
.developedAFullStackApplica {
    margin: 0;
    font-size: 14px;
}
.technologiesReactjs {
    margin: 0;
    font-size: 14px;
    line-height: 140%;
    font-weight: 600;
    color: #ccc;
}
.text5 {
    align-self: stretch;
    position: relative;
    font-size: 12px;
    font-family: Inter;
}
.text6 {
    position: relative;
    line-height: 22px;
}
.item2 {
    width: 296px;
    overflow: hidden;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.stack3 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 24px 24px;
    gap: 16px;
}
.userprofileaboutcard1 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 16px;
    background-color: rgba(0, 90, 129, 0.2);
    width: 825px;
    height: 254px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.userprofileaboutcardParent {
    position: absolute;
    top: 158px;
    left: 400px;
    width: 825px;
    height: 254px;
    font-size: 14px;
    color: #212b36;
    font-family: 'Public Sans';
}
.text15 {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.stack5 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.iconssolidicEvamoreVertic {
    width: 20px;
    position: relative;
    height: 20px;
}
.action {
    width: 36px;
    border-radius: 500px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cardheader2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px 16px 24px 24px;
    gap: 16px;
}
.stack7 {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.stack6 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 24px 24px;
    gap: 16px;
    font-size: 16px;
    color: #ccc;
}
.userprofilesocialcard {
    position: absolute;
    top: 420px;
    left: 48px;
    border-radius: 16px;
    background-color: rgba(0, 90, 129, 0.2);
    width: 344px;
    height: 206.4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.showAll2 {
    position: relative;
    font-size: 14px;
    text-decoration: underline;
    line-height: 140%;
    color: #ccc;
    text-align: right;
    display: none;
}
.stack10 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.stackWrapper {
    width: 296px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.iconssocialicInstagram {
    width: 24px;
    position: relative;
    height: 24px;
    display: none;
}
.text21 {
    position: relative;
    line-height: 22px;
    display: none;
}
.stack13 {
    width: 261px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    font-size: 14px;
    color: #212b36;
    font-family: 'Public Sans';
}
.userprofilesocialcard1 {
    position: absolute;
    top: 420px;
    left: 400px;
    border-radius: 16px;
    background-color: rgba(0, 90, 129, 0.2);
    width: 344px;
    height: 206.4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.stackParent {
    width: 425px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.userprofilesocialcard2 {
    position: absolute;
    top: 420px;
    left: 752px;
    border-radius: 16px;
    background-color: rgba(0, 90, 129, 0.2);
    width: 473px;
    height: 206px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frameWrapper3 {
    width: 401px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.frameParent16 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 565.6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px;
    box-sizing: border-box;
    gap: 16px;
}
.frameWrapper2 {
    width: 449px;
    position: relative;
    height: 565.6px;
}
.groupContainer {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: -16px;
    font-size: 16px;
}
.cardheaderParent {
    position: absolute;
    top: 634px;
    left: 752px;
    width: 449px;
    height: 406px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.showAll4 {
    position: relative;
    font-size: 14px;
    text-decoration: underline;
    line-height: 140%;
    color: #ccc;
}
.stackGroup {
    width: 296px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}
.action1 {
    width: 36px;
    border-radius: 500px;
    height: 36px;
    display: none;
}
.text31 {
    flex: 1;
    position: relative;
    line-height: 140%;
    font-weight: 600;
}
.text32 {
    flex: 1;
    position: relative;
    line-height: 140%;
    color: #ccc;
    text-align: right;
}
.stack25 {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.stack26 {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.stack27 {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.stack28 {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.stack29 {
    width: 261px;
    margin: 0 !important;
    position: absolute;
    top: 40px;
    left: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    z-index: 4;
}
.stack24 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 24px 24px;
    position: relative;
    gap: 16px;
    font-size: 16px;
}
.cardheaderGroup {
    position: absolute;
    top: 634.39px;
    left: 48px;
    border-radius: 16px;
    background-color: rgba(0, 90, 129, 0.2);
    width: 344px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.stack30 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.stack32 {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 0;
}
.stack33 {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
}
.stack34 {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
}
.stack35 {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 3;
}
.cardheaderContainer {
    position: absolute;
    top: 634.39px;
    left: 400px;
    border-radius: 16px;
    background-color: rgba(0, 90, 129, 0.2);
    width: 344px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.homePage {
    width: 100%;
    position: relative;
    background-color: #1e1e1e;
    height: 1117px;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: #fff;
    font-family: Inter;
}

